* {
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  line-height: 70px;
}

header {
  text-align: center;
  width: 100%;
  height: 75px;
  border: 1px solid black;
  background-color: salmon;
  border-bottom: none;
}

li {
  width: 100%;
  height: 150px;
  border: 1px solid black;
  border-bottom: none;
  list-style: none;
  list-style-position: inside;
  text-align: center;
  background-color: salmon;
  line-height: 150px;

}

ul {
  width: 100%;
  padding: 0;
}

#e li{
  width: 50%;
  border-bottom: 1px solid black;
  border-bottom: none;
  border-right: none;
  margin-top: 0px;
  list-style: none;
  list-style-position: inside;
  text-align: center;
  height: 250px;

}

#e li:first-child {
  float: right;
  border-right: 1px solid black;
}

#g li{
  width: 50%;
  border-right: none;
  margin-top: 0px;
  text-align: center;
  height: 250px;

}

#g li:first-child {
  float: right;
  border-right: 1px solid black;
}

footer {
  width: 100%;
  height: 75px;
  border: 1px solid black;
  background-color: salmon;
  text-align: center;
}
